h1 {
    text-align: center;
}

.frontal {
    display: flex;
    justify-content: space-around;
}

.cuadro{
    border:2px solid orange;
    width: 300px;
    /*height: 300px;*/
    border-radius: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 15px 45px 15px;
}

.boton{
    font-size: 100px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
}



@media all and (max-width: 768px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .cuadro {
        max-width: 50%;
        max-height: 50%;
    }
    .boton{
        font-size: 45px;
    }
  }